body{
    margin: 0;
    background-color: cadetblue;
    width:100%;
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
    width: 80%;
    height:400px;
}
#buttons{
    margin-bottom: 16px;
}
button{
    padding: 8px 16px;
}
.square{
    width: 16px;
    height: 16px;
    background-color: white;
    transition: 0.75s;
    user-select: none;
}
.square:hover{
    background-color: aqua;
}
.selected{
    background-color: royalblue;
}
.selected:hover{
    background-color: royalblue;
}